@import "normalize.css";

.c-bg-white,
.Polaris-TopBar {
  background: #fff;
}

.Polaris-Navigation__ItemInnerWrapper:active {
  color: #007b5c !important;
  background-color: #edeeef !important;
}

.Polaris-Navigation__PrimaryNavigation {
  background: transparent !important;
}

.custom-large-btn {
  width: 180px;
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
}

.custom-medium-btn {
  background: transparent;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #ddd;
  cursor: pointer;
}

.custom-banner {
  background: url("./assets/images/banner.png") no-repeat right;
  background-size: contain;
  min-height: 500px;
}

.custom-contact-helptext {
  margin-top: 20px;
}

.custom-title {
  color: var(--p-color-bg-fill-info-secondary);
}

.Polaris-Navigation,
.Polaris-TopBar-Menu__Activator--userMenu,
.Polaris-Navigation__ItemInnerWrapper--selected {
  background: transparent !important;
}

.Polaris-Navigation__ItemInnerWrapper--selected .Polaris-Navigation__Text {
  color: rgba(0, 123, 92, 1) !important;
}

.Polaris-Navigation__ItemInnerWrapper--selected .Polaris-Icon__Svg {
  fill: rgba(0, 123, 92, 1) !important;
}

.Polaris-Navigation__Item--selected::before {
  color: rgba(0, 123, 92, 1) !important;
  background-color: rgba(0, 123, 92, 1) !important;
  opacity: 1;
}

.Polaris-Navigation__Item--selected {
  background: rgba(0, 0, 0, 0.03) !important;
}

.Polaris-TopBar-UserMenu__Message > p {
  color: #333 !important;
}

.Polaris-TopBar__NavigationIcon .Polaris-TopBar__IconWrapper,
.Polaris-TopBar-UserMenu__Details > p,
.Polaris-TopBar-Menu__Activator:active p,
.Polaris-TopBar-Menu__Activator[aria-expanded="true"] p {
  color: #000;
}

.Polaris-TopBar__NavigationIcon:hover,
.Polaris-TopBar-Menu__Activator:hover {
  background: rgba(0, 0, 0, 0.05) !important;
}

.Polaris-Frame--hasTopBar .Polaris-Frame__Navigation,
.Polaris-Frame__Content,
.Polaris-Navigation__LogoContainer .Polaris-Navigation,
.Polaris-Navigation__LogoContainer {
  background: #fff !important;
}

.Polaris-TopBar__Search {
  display: none !important;
}

.Polaris-TopBar__Container {
  grid-template-columns: 1fr 5fr;
}

.Polaris-TopBar__RightContent {
  align-items: center;
}

.Polaris-Frame__Main {
  max-width: 100% !important;
}

@media (max-width: 490px) {
  .custom-medium-btn {
    display: none !important;
  }
}

.Polaris-Page {
  padding: 0 !important;
}
