@import "normalize.css";

.c-bg-white {
  background: #fff !important;
}

.Polaris-Navigation,
.Polaris-TopBar {
  background: transparent;
}

.Polaris-Navigation__ItemInnerWrapper:active {
  color: #007b5c !important;
  background-color: #edeeef !important;
}

.Polaris-Navigation__PrimaryNavigation {
  background: transparent !important;
}

.custom-large-btn {
  width: 180px;
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
}

.custom-banner {
  display: flex;
  align-items: center;
  background: url("./assets/images/Banner.png") no-repeat left;
  min-height: 500px;
}

.custom-contact-helptext {
  margin-top: 20px;
}
