@import "normalize.css";

.c-bg-white {
  background: #fff !important;
}

.Polaris-Navigation {
  background: transparent;
}

.Polaris-TopBar {
  background: #fff;
}

.Polaris-Navigation__ItemInnerWrapper:active {
  color: #007b5c !important;
  background-color: #edeeef !important;
}

.Polaris-Navigation__PrimaryNavigation {
  background: transparent !important;
}

.custom-large-btn {
  width: 180px;
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
}

.custom-medium-btn {
  margin: 0 10px;
  background: transparent;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #ddd;
  cursor: pointer;
}

.custom-banner {
  display: flex;
  align-items: center;
  background: url("./assets/images/Banner.png") no-repeat left;
  min-height: 500px;
}

.custom-contact-helptext {
  margin-top: 20px;
}

.custom-title {
  color: var(--p-color-bg-fill-info-secondary);
}

.Polaris-Navigation__ItemInnerWrapper--selected {
  background: transparent !important;
}

.Polaris-Navigation__ItemInnerWrapper--selected .Polaris-Navigation__Text {
  color: rgba(0, 123, 92, 1) !important;
}

.Polaris-Navigation__ItemInnerWrapper--selected .Polaris-Icon__Svg {
  fill: rgba(0, 123, 92, 1) !important;
}

.Polaris-Navigation__Item--selected::before {
  color: rgba(0, 123, 92, 1) !important;
  background-color: rgba(0, 123, 92, 1) !important;
}

.Polaris-Navigation__Item--selected {
  background: #e3e3e3 !important;
}

.Polaris-TopBar-UserMenu__Message > p {
  color: #333 !important;
}

.Polaris-TopBar-UserMenu__Details > p,
.Polaris-TopBar-Menu__Activator:active p,
.Polaris-TopBar-Menu__Activator[aria-expanded="true"] p {
  color: #000;
}

.Polaris-TopBar-Menu__Activator--userMenu {
  background: transparent !important;
}

.Polaris-TopBar-Menu__Activator:hover {
  background: rgba(0, 0, 0, 0.05) !important;
}
